target/*
.settings/*
.classpath
.project
/target
.gradle
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
jenkins.war
node_modules